body {
    font-family:'Georgia';
    font-size: 18px;
}

header {
    background-color: #FEEFE3;
}

h1, h2 {
    margin: 0;
    padding: 34px 0 10px 20px;
}

.site-title {
    color: #793B52;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: rgb(182, 152, 162);
}

nav > ul {
    background-color: rgb(182, 152, 162);
    list-style: none; 
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    display: block; 
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none; 
    border: 1px solid black;
}

nav li:hover {
    background-color: rgb(157, 95, 115);
    color: white;
}

.inline-block-nav {
    text-align: left;
    font-size: 0;   
}

.inline-block-nav > li {
    display: inline-block;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FEEFE3;
}

footer p {
    margin: 0;
}

dd {
    margin-left: 20px;
}
